# Blacklist everything
*
# Whitelist all directories
!*/
# Whitelist the file you're interested in. 
!*.log
!*.png
!*.csv
#
/longdress/Png/
/loot/Png/
/redandblack/Png/
/soldier/Png/
# Whitelist some files
!.gitignore


