# Blacklist everything
*
# Whitelist all directories
!*/
# Whitelist the file you're interested in. 
!*.log
!*.png
!*.csv
#
/longdress/Png/
/loot/Png/
/redandblack/Png/
/soldier/Png/
# Whitelist some files
!.gitignore

#Whitelist all bin files from experiments
!./longdress/experiments/3DD_2_noQuantize_OM=4/compressed/3DD_2_noQuantize_OM=4.bin
!./longdress/experiments/2DD_lodX=2_lodY=1_OM=4/compressed/2DD_lodX=2_lodY=1_OM=4.bin
!./longdress/experiments/3DD_2_Quantize=2_OM=4/compressed/3DD_2_Quantize=2_OM=4.bin
!./longdress/experiments/2DD_lodX=1_lodY=2_OM=4/compressed/2DD_lodX=1_lodY=2_OM=4.bin
!./longdress/experiments/3DD_2_Quantize=2_OM=1/compressed/3DD_2_Quantize=2_OM=1.bin
!./longdress/experiments/2DD_lodX=1_lodY=2_OM=1/compressed/2DD_lodX=1_lodY=2_OM=1.bin
!./longdress/experiments/3DD_2_noQuantize_OM=1/compressed/3DD_2_noQuantize_OM=1.bin
!./longdress/experiments/2DD_lodX=2_lodY=1_OM=1/compressed/2DD_lodX=2_lodY=1_OM=1.bin
!./longdress/experiments/vanilla_OM=4/compressed/vanilla_OM=4.bin
!./longdress/experiments/2DD_lodX=2_lodY=2_OM=4/compressed/2DD_lodX=2_lodY=2_OM=4.bin
!./longdress/experiments/2DD_lodX=2_lodY=2_OM=1/compressed/2DD_lodX=2_lodY=2_OM=1.bin
!./longdress/experiments/3DD_4_noQuantize_OM=4/compressed/3DD_4_noQuantize_OM=4.bin
!./longdress/experiments/3DD_4_noQuantize_OM=1/compressed/3DD_4_noQuantize_OM=1.bin
!./loot/experiments/2DD_lodX=2_lodY=1_OM=1/compressed/2DD_lodX=2_lodY=1_OM=1.bin
!./loot/experiments/3DD_2_noQuantize_OM=4/compressed/3DD_2_noQuantize_OM=4.bin
!./loot/experiments/3DD_2_Quantize=2_OM=4/compressed/3DD_2_Quantize=2_OM=4.bin
!./loot/experiments/2DD_lodX=1_lodY=2_OM=1/compressed/2DD_lodX=1_lodY=2_OM=1.bin
!./loot/experiments/3DD_2_Quantize=2_OM=1/compressed/3DD_2_Quantize=2_OM=1.bin
!./loot/experiments/vanilla_OM=4/compressed/vanilla_OM=4.bin
!./loot/experiments/2DD_lodX=1_lodY=2_OM=4/compressed/2DD_lodX=1_lodY=2_OM=4.bin
!./loot/experiments/2DD_lodX=2_lodY=1_OM=4/compressed/2DD_lodX=2_lodY=1_OM=4.bin
!./loot/experiments/3DD_2_noQuantize_OM=1/compressed/3DD_2_noQuantize_OM=1.bin
!./loot/experiments/2DD_lodX=2_lodY=2_OM=4/compressed/2DD_lodX=2_lodY=2_OM=4.bin
!./loot/experiments/2DD_lodX=2_lodY=2_OM=1/compressed/2DD_lodX=2_lodY=2_OM=1.bin
!./loot/experiments/3DD_4_noQuantize_OM=1/compressed/3DD_4_noQuantize_OM=1.bin
!./loot/experiments/3DD_4_noQuantize_OM=4/compressed/3DD_4_noQuantize_OM=4.bin
!./redandblack/experiments/2DD_lodX=1_lodY=2_OM=4/compressed/2DD_lodX=1_lodY=2_OM=4.bin
!./redandblack/experiments/3DD_2_Quantize=2_OM=1/compressed/3DD_2_Quantize=2_OM=1.bin
!./redandblack/experiments/vanilla_OM=4/compressed/vanilla_OM=4.bin
!./redandblack/experiments/2DD_lodX=2_lodY=1_OM=4/compressed/2DD_lodX=2_lodY=1_OM=4.bin
!./redandblack/experiments/3DD_2_noQuantize_OM=1/compressed/3DD_2_noQuantize_OM=1.bin
!./redandblack/experiments/2DD_lodX=2_lodY=1_OM=1/compressed/2DD_lodX=2_lodY=1_OM=1.bin
!./redandblack/experiments/3DD_2_noQuantize_OM=4/compressed/3DD_2_noQuantize_OM=4.bin
!./redandblack/experiments/2DD_lodX=1_lodY=2_OM=1/compressed/2DD_lodX=1_lodY=2_OM=1.bin
!./redandblack/experiments/3DD_2_Quantize=2_OM=4/compressed/3DD_2_Quantize=2_OM=4.bin
!./redandblack/experiments/2DD_lodX=2_lodY=2_OM=4/compressed/2DD_lodX=2_lodY=2_OM=4.bin
!./redandblack/experiments/2DD_lodX=2_lodY=2_OM=1/compressed/2DD_lodX=2_lodY=2_OM=1.bin
!./redandblack/experiments/3DD_4_noQuantize_OM=4/compressed/3DD_4_noQuantize_OM=4.bin
!./redandblack/experiments/3DD_4_noQuantize_OM=1/compressed/3DD_4_noQuantize_OM=1.bin
!./soldier/experiments/3DD_2_Quantize=2_OM=1/compressed/3DD_2_Quantize=2_OM=1.bin
!./soldier/experiments/2DD_lodX=2_lodY=1_OM=4/compressed/2DD_lodX=2_lodY=1_OM=4.bin
!./soldier/experiments/vanilla_OM=4/compressed/vanilla_OM=4.bin
!./soldier/experiments/2DD_lodX=1_lodY=2_OM=4/compressed/2DD_lodX=1_lodY=2_OM=4.bin
!./soldier/experiments/3DD_2_noQuantize_OM=1/compressed/3DD_2_noQuantize_OM=1.bin
!./soldier/experiments/2DD_lodX=1_lodY=2_OM=1/compressed/2DD_lodX=1_lodY=2_OM=1.bin
!./soldier/experiments/3DD_2_noQuantize_OM=4/compressed/3DD_2_noQuantize_OM=4.bin
!./soldier/experiments/3DD_2_Quantize=2_OM=4/compressed/3DD_2_Quantize=2_OM=4.bin
!./soldier/experiments/2DD_lodX=2_lodY=1_OM=1/compressed/2DD_lodX=2_lodY=1_OM=1.bin
!./soldier/experiments/2DD_lodX=2_lodY=2_OM=4/compressed/2DD_lodX=2_lodY=2_OM=4.bin
!./soldier/experiments/2DD_lodX=2_lodY=2_OM=1/compressed/2DD_lodX=2_lodY=2_OM=1.bin
!./soldier/experiments/3DD_4_noQuantize_OM=4/compressed/3DD_4_noQuantize_OM=4.bin
!./soldier/experiments/3DD_4_noQuantize_OM=1/compressed/3DD_4_noQuantize_OM=1.bin
